
/* white set as default color */
/*select {
  background-color: white;
  color: white;
}*/
body {
  text-align: center;
}

.colorBox{
  width: 126px;
  height: 38px;
  border-radius: 30px;
  box-shadow: 2px 3px blue;
  border: 0.5px;
}

.grey {
  background-color: #6b6868;
  text-indent: -9999px;
}

.blue {
  background-color: #3e3effdb;
  text-indent: -9999px;
}

.green {
  background-color: #43c743;
  text-indent: -9999px;
}

.yellow {
  background-color: #f1f13a;
  text-indent: -9999px;
}

.red {
  background-color: #e21313;
  text-indent: -9999px;
}

.purple {
  background-color: #d00dd0;
  text-indent: -9999px;
}

.glow1 {
box-shadow: 2px 3px 20px #5454d6b8;
}

.glow2 {
  box-shadow: 2px 3px 20px #ab2a7dd9;
}

.invis {
  display: none
}

#play {
  width: 126px;
  height: 38px;
  border-radius: 30px;
  border: 0.5px;
  background-color: #7bce7b;
  box-shadow: 2px 3px 20px #5454d6b8;
}

/*style background boxes*/
.background-box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position:absolute;
}

#top-left {
  top: 0;
  left: 0;
}

#top-right {
  top: 0;
  right: 0;
}

#bottom-left {
  bottom: 0;
  left: 0;
}

#bottom-right {
  bottom: 0;
  right: 0;
}
