
/* white set as default color */
/*select {
  background-color: white;
  color: white;
}*/

.green {
  background-color: white;
  color: white;
}

.blue {
  background-color: blue;
  color: blue;
}

.green {
  background-color: green;
  color: green;
}
